---
# tasks file for roles/mariadb
- name: Install '{{ item }}'
  community.general.zypper:
    name: '{{ item }}'
    state: present
  loop:
    - mariadb
- name: start mariadb
  service:
    name: mariadb
    enabled: true
    state: started
- name: mysql_root_password
  mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    user: root
    check_implicit_admin: true
    password: "{{ mysql_root_password }}"
    host: localhost
- name: remove remote root
  mysql_user:
    check_implicit_admin: true
    login_user: root
    login_password: "{{ mysql_root_password }}"
    user: root
    host: "{{ ansible_fqdn }}"
    state: absent